@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}
.react-confirm-alert-overlay {
  background: rgb(122 122 122 / 58%) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}